html,body {
  font-family: "Helvetica", Verdana, Arial, sans-serif;
  background-color: #ffffff;
  font-weight: lighter;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

hr {
  color: #cccccc;
  border-bottom: 1px solid #cccccc;
}

.ag-h1 {
    font-family: "Helvetica", Verdana, Arial, sans-serif;
    font-size: 28pt;
    font-weight: lighter;
    text-align: center;
    color: #ffffff;
}

.gutter-top {
    margin-top: 20px;
}
.gutter-bottom {
    margin-bottom: 20px;
}

#container-nav {
  width: 960px;
}

.pro-plan {
  border: 1px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center;
  background-color: #eee;
  padding-bottom: 20px;
}

.pro-features {
  list-style: none; 
  margin-left: 0px;
  margin-bottom: 20px;
}

.pro-groups-upgrade {
  text-align: center; 
  padding-top: 100px; 
  padding-bottom: 100px;
}

.pro-groups-new {
  text-align: center; 
  padding-top: 50px; 
  padding-bottom: 50px; 
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a,
.dropdown-submenu:focus>a {
    color: #fff;
    text-decoration: none;
    background-color: #146C82;
    background-image: -moz-linear-gradient(top, #257D93, #146C82);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#257D93), to(#146C82));
    background-image: -webkit-linear-gradient(top, #257D93, #146C82);
    background-image: -o-linear-gradient(top, #257D93, #146C82);
    background-image: linear-gradient(to bottom, #257D93, #146C82);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.navbar .nav>li>a {
    float: none;
    padding: 15px 15px 5px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-shadow: none;
}

.navbar .brand {
    display: block;
    float: left;
    padding: 5px 20px 5px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #ffffff;
    text-shadow: none
}
.navbar-search .search-query {
    padding: 3px 5px;
    margin-top: -5px;
    height: 15px;
    margin-bottom: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}
.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
    color: #dddddd;
    text-decoration: none;
    background-color: transparent
}

.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle,
.navbar .nav li.dropdown.open.active>.dropdown-toggle {
    color: #ffffff;
    background-color: #146C82
}
.navbar .nav li.dropdown>.dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff
}
.navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar .nav li.dropdown>a:hover .caret, .navbar .nav li.dropdown>a:focus .caret {
    border-top-color: #ddd;
    border-bottom-color: #ddd;
}
.navbar .nav li.dropdown.open>.dropdown-toggle .caret, .navbar .nav li.dropdown.active>.dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-inner {
    min-height: 30px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #146C82;
    background-image: -moz-linear-gradient(top, #bd4124, #bd4124);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bd4124), to(#bd4124));
    background-image: -webkit-linear-gradient(top, #bd4124, #bd4124);
    background-image: -o-linear-gradient(top, #bd4124, #bd4124);
    background-image: linear-gradient(to bottom, #bd4124, #bd4124);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065)
}

#base-container {
  min-height:100%;
  position:relative;
}

.content-padded {
  padding: 0px 10px;
}

div.accordion-group {
  border-color: #bbbbbb;
  background-color: #eeeeee;
}

div.accordion-heading, div.accordion-body {
  border-color: #bbbbbb;
}

div.managed-opp-header.row {
  border-bottom: 1px dotted #cccccc;
  padding-top: 5px;
  padding-bottom: 5px;
}

div.managed-opp-causes {
  border-top: 1px dotted #cccccc;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}

div.managed-opp-header.row h3 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  line-height: 20px;
}

div.managed-opp-header.row h5 {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 5px;
  padding-left: 10px;
}

div.managed-opp-details.row {
  border-bottom: 2px solid #666666;
  padding-bottom: 10px;
}

.paginavigation.paginavigation-manager {
  border-bottom: 2px solid #666666;  
  padding-bottom: 17px;
  margin-bottom: 0px;
}

div.managed-opp-details.row div.span2 {
  border-left: 1px dotted #cccccc;
  padding-left: 10px;
  text-align: right;
  width: 190px;
}

div.managed-opp-details.row div.span6 {
  padding-left: 10px;
}

#recruit-options {
  margin-top: 20px;
  margin-bottom: 20px;
}

a { color: #a1322b; }
a:hover { color: #a1322b; }

#activity-table td {
  font-size: 13px;
}

.open-date, .close-date {
  visibility: hidden;
}

.teamblock img {
  border: 1px solid #cccccc;
  padding: 3px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  float: left;
  margin: 5px 15px 5px 5px;
}

.teamblock {
  margin-bottom: 20px;
}

.inaugural {
  text-align: center;
  padding-left: 20px;
  padding-bottom: 20px;
}

.inaugural img {
  margin-top: 20px;
}

.label a {
  color: #ffffff;
  text-decoration: none;
}

.alert-white {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: #333333;
}

.alert-inverse {
  border: 1px solid;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
}

.h3-home {
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.box-h3, h3 {
  font-weight: normal;
  font-size: 15pt;
}

.box-h4, h4 {
  font-weight: normal;
  font-size: 12pt;
}

.opp-info {
  font-weight: normal;
  font-size: 12pt;
  margin: 0px 5px 20px 5px;
}

.opp-summary {
  margin: 10px 5px 10px 5px;
}

.carousel-control {
  width: 20px;
  height: 20px;
  font-size: 30px;
  border: 2px solid #ffffff;
  line-height: 15px;
}

.carousel-control p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.carousel-caption {
  padding: 5px;
  font-size: 12px;
}

#container-utilities {
  /*background-color: #155A70;*/
  background-color: #008096;
  font-size: 9pt;
  color: #ffffff;
}

#container-utilities a {
  color: #ffffff;
}

#container-utilities ul {
  padding: 2px;
  margin: 0px;
}

#container-utilities li {
  display: inline;
  margin-left: 5px;
  border-left: 1px solid #ffffff;
  padding-left: 7px;
  padding-right: 0px;
  margin-bottom: 0px;
}

#container-utilities li:first-child {
  border: 0px;
  padding-left: 0px;
  margin-left: 0px;
}

.home-search {
  border: 1px solid #cccccc; 
  height: 150px;
  margin-top: 20px;

}

.home-feature img {
 
}

.home-feature {
  border: 1px solid #cccccc; 
  margin-top: 20px;

}

.home-feature .carousel {
  margin-bottom: 0px;
}

.home-testimonials {
  border: 1px solid #cccccc;
  margin-top: 0px;
  margin-bottom: 0px;
}

.home-testimonials .carousel {
  margin-bottom: 0px;
}

.home-donate {
  border: 1px solid #cccccc;
  background-color: #803022;
  height: 40px;
  margin-top: 20px;

}

.home-newsletter {
  border: 1px solid #cccccc;
  background-color: #406c80;
  height: 35px;
  margin-top: 20px;

}

.home-ways {
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  height: 140px;
  margin-bottom: 20px;

}

.home-metrics {
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  height: 140px;
  margin-bottom: 20px;
}

.rounded {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.report-table {
  border: 6px solid #dfdfe0;
  padding: 10px;
}

.report-table table {
  margin-bottom: 0px;
}

.report-column:last-child {
  text-align: right !important; 
}

.impactbox {
  border: 6px solid #dfdfe0;
  min-height: 100px;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #0f7285;
}

.impactbox .number {
  font-size: 54px;
  font-weight: bolder;
  color: #bb412c;
  width: 100%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 20px;
}

a.impact {
  text-decoration: none;
}

a.impact:hover > .impactbox {
  pointer-events: inherit;
  background-color: #ffffff;
}

#match-table-pending input {
  position: relative;
  bottom: 4px;
}

#match-table-approved input {
  position: relative;
  bottom: 4px;
}

#nav-main {
  margin-top: 35px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  padding-right: 10px;
}

#nav-main a {
  color: #a1322b;
  font-size: 17pt;
}

#nav-main li {
  display: inline;
  margin-left: 20px;
 
  padding-left: 22px;
  margin-bottom: 0px;
  margin-right: 0px;
}

#nav-main li.active a {
  font-weight: bold;
}

#nav-main li:first-child {
  border: 0px;
}

#nav-secondary {
  padding-right: 10px;
}

#nav-secondary a {
  color: #999999;
  font-size: 10pt;
}

#nav-secondary ul {
  padding-bottom: 2px;
  margin: 0px;
}

#nav-secondary li {
  display: inline;
  margin-left: 5px;
  border-left: 1px solid #999999;
  padding-left: 7px;
  padding-right: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

#nav-secondary li.active a {
  font-weight: bold;
}

#nav-secondary li:first-child {
  border: 0px;
}

.nav-fourth {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 15px;
}

.nav-fourth ul.inline {
  margin: -5px 5px 5px 10px; 
  font-size: 12px; 
  font-weight: bold;
}

.nav-fourth ul.inline li.active a {
  pointer-events: none;
  color: #333333;
}

#container-main-nav {
  border-bottom: 1px solid #999999;
  background-color: #ffffff;
}

#featured {
  background-color: #ffffff;
  border: 1px solid #999999;
  height: 200px;
  margin-top: 20px;
}

.blankbox {
  background-color: #eeeeee;
  border-bottom: 1px dashed #999999;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.blankbox p {
  margin: 10px 0px 10px 0px;
}

#container-footer {
  margin-top: 40px;
  border-top: 1px solid #999999;
  background-color: #bd4124;
  height: 150px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#content-container {
  padding-bottom: 190px;
}

#footer {
  background: url(../images/footerbg.jpg);
  height: 150px;
}

#footer a {
	color: #ffffff;
}

#footer-inner {
  padding-top: 25px;
}

.footerbox {
  width: 188px;
  float: left;
}
.center {
  text-align: center;
}

.right {
  text-align: right;
}
.phead {
  font-size: 18pt;
  font-weight: lighter;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

#page-header .container {
  text-align: right;
}

#sidebar {
  border-right: 1px solid #999999;
  height:auto;
  min-height: 300px;
  text-align: right;
  padding-right: 20px;
  margin-bottom: 20px;
  font-size: 10pt;
}

#sidebar h6 {
  font-size: 10pt;
  margin-top: 20px;
  margin-bottom: 0px;
}

#sidebar .btn-mini {
  margin-bottom: 3px;
}

#sidebar div {
  font-size: 10pt;
}

#sidebar-right {
  border-right: 0px;
  border-left: 1px solid #999999;
  padding-right: 0px;
  padding-left: 20px;
  margin-left: 20px;
}

/*#sidebar .nav li a {
  background-color: #ffffff;
}*/

#sidebar .nav>li.active>a {
  background-color: #146C82;
  color: #ffffff;
  pointer-events: none;
}

/* hide sidebar sub menus by default */
#sidebar .nav .nav {
  display: none; 
  margin: 0px 5px;
  padding: 0px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  background-color: #ffffff;
}

#sidebar .nav .nav>li {
  border-bottom: 1px solid #cccccc;
}

#sidebar .nav .nav>li.active {
  background-color: #666666;
}

#sidebar .nav .nav>li>a {
  padding: 5px 15px;
  border: none;
  background-color: #ffffff;
  color: #a1322b;
}

#sidebar .nav .nav>li>a:hover {

}

#sidebar .nav .nav>li.active a {
  color: #ffffff;
  pointer-events: none;
  cursor: default;
  background-color: #666666;
}

#sidebar .nav-tabs {
  margin-top: 20px;
  margin-bottom: 20px;
}

#sidebar .nav-tabs li a {
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
}

#sidebar .nav-tabs li a {
  color: #a1322b;
}

#sidebar .nav-tabs li a:hover {
  background-color: #dddddd;
}



/* show sub menu when parent is active */
#sidebar .nav>.active>ul {
  display: block;
}



h6.sidebar-title {
  text-align: center; 
  border-top: 1px solid #ddd; 
  border-bottom: 1px solid #ddd; 
  padding: 3px; 
  color: #444
}

div.group-directory-box {
  background-color: #ffffff;
  min-height: 90px;
  border: 1px solid #cccccc;

  padding: 5px;
  margin-bottom: 20px;
}

div.group-member-box {
  background-color: #dddddd;
  min-height: 40px;
  border: 1px solid #cccccc;

  padding: 5px;
  margin-bottom: 15px;
}

div.group-project-box {
  background-color: #dddddd;
  min-height: 38px;
  border: 1px solid #cccccc;

  padding: 10px 5px 5px 5px;
  margin-bottom: 15px;
}

div.group-directory-box-admin {
  border: 2px solid #B57EDC;

}

div.group-directory-box-pending {
  border: 2px solid #cc0000;

}

div.group-directory-box img {
  border: 1px solid #cccccc;
  padding: 0px;
}

div.group-directory-box h3 {
  padding-bottom: 0px;
  margin-top: 5px;
  line-height: 18px
}

div.group-directory-box h4 {
  margin-top: 0px;
}

div.thumbnail {
  background-color: #ffffff;
  min-height: 142px;
}

div.thumbnail img {
  border: 1px solid #cccccc;
  padding: 0px;
  margin-right: 10px;
}

div.thumbnail h3 {
  padding-bottom: 0px;
  line-height: 15px
}

div.thumbnail h4 {
  margin-top: 0px;
}

.thumb {
  padding: 3px; 
  border: 1px solid #cccccc;
  width: 30px;
  height: 30px;
  float: left;
  background-color: #ffffff;
  margin-right: 10px;
  margin-left: 5px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.feature-image {
  padding: 3px; 
  border: 1px solid #cccccc;
  height: 50px;
  background-color: #ffffff;
  margin-right: 10px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px; 
}

.col-head {
  background-color: #dddddd; 
  border: 1px solid #cccccc;
  padding: 10px 5px 10px 5px; 
  margin-bottom: 10px;

}

.col-head h4 {
  margin: 0px 15px 0px 15px;
}

.group-head {
  background-color: #dddddd; 
  border: 1px solid #cccccc;
  padding: 10px; 
  margin-bottom: 10px;

}

.group-head a {
  color: #146C82;
}

.group-head .group-name {
  /*margin-left: 55px;*/
  font-weight: normal;
  font-size: 15pt;
}

.group-head ul.inline li.active a {
  pointer-events: none;
  color: #333333;
}

.group-head ul.inline {
  margin-bottom: 0px; 
  /*margin-left: 50px;*/
  font-weight: bold;
}

.group-head ul.inline li:first-child {
  padding-left: 0px;
}

.opp-container {
  border: 1px solid #cccccc;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.opp-container table {
  margin-bottom: 0px;
  font-size: 13px;
}

.opp-container table tr:first-child td {
  background-color: #f9f9f9;
}

.opp-container table td {
  padding-top: 4px;
  padding-bottom: 4px;
}

.opp-head {
  padding: 10px; 
}

.opp-head a {
  color: #a1322b;
}

.opp-head .opp-name {
  /*margin-left: 55px;*/
  font-weight: normal;
  font-size: 13pt;
}

.opp-head .opp-name a {
  color: #a1322b;
}

.opp-head ul.inline li.active a {
  pointer-events: none;
  color: #333333;
}

.opp-head ul.inline {
  margin-bottom: 0px; 
  font-size: 12px;
  font-weight: bold;
}

.opp-head ul.inline li:first-child {
  padding-left: 0px;
}

.group-thumb {
  padding: 3px; 
  border: 1px solid #cccccc;
  width: 30px;
  height: 30px;
  float: left;
  background-color: #ffffff;
  margin-right: 10px;
  margin-left: 0px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.badges {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.paginavigation {
  margin-left: 20px;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: right;
}

.paginavigation-top .pagination {
  margin-top: 0px;
}

.pagination {
  margin-bottom: 0px;
  margin-top: 0px;
}

.pagination span {
  margin-left: 5px;
}

.table th,.table td /* for table on Individual Opportunity Page */
{
padding:8px;
line-height:20px;
text-align:left;
vertical-align:middle;
}

td.center /* To center in columns */
{
padding:8px;
line-height:20px;
text-align:center;
vertical-align:middle;
padding-left: 15px;
}

.box-right  /*right aligned box -- for my account*/
{
 float: right;
 text-align: center;
 padding: 5px;
}

td.bold /* To bold in columns -- used in current opportunities on my account */
{
padding:8px;
line-height:20px;
font-weight: bold;
padding-left: 15px;
}

.tablelineless th, .tablelineless td {  /*for My Account Table -- no lines*/
     border-top: none; 
 }
 
 #sidebar>ul.account-sidenav {
  margin-top: 0px;
 }

 /* Sidebar nav for My accounts Page */
.account-sidenav { 
  padding: 0;
  text-align: left;
  margin-top: 0px;
}

.toggle-edit-hours {
  visibility: hidden;
}

.breadcrumb {
  background-color: #dddddd;
  margin-right: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  padding: 2px;
}

.breadcrumb>li>.divider {
  color: #666666;
}

.breadcrumb .active {
  color: #666666;
}

.tab-content {
  margin-bottom: 20px;
}

.nav-tabs {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-tabs li a:hover {
  background-color: #dddddd;
}

.nav-tabs li.active a {
  background-color: #146C82;
  color: #ffffff;
}

.nav-tabs li.active a:hover {
  background-color: #146C82;
  color: #ffffff;
}

/* Chevrons */
.account-sidenav .icon-chevron-right, .account-sidenav .icon-chevron-down {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.account-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.account-sidenav a:hover .icon-chevron-right, .account-sidenav .icon-chevron-down {
  opacity: .5;
}
 /* Sidebar nav for My accounts Page */

#sidebar form {
  margin-top: 0px;
}

#page-header {
  color: #666666;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #999999;
  margin-bottom: 30px;
  background-color: #dddddd;
}

.breadcrumb-triangle { 
  list-style: none; 
  font: 14px Helvetica, Arial, Sans-Serif;
  margin-left: 0px;
}
.breadcrumb-triangle li { 
  float: left; 
}
.breadcrumb-triangle li a {
  color: white;
  text-decoration: none; 
  padding: 10px 0 10px 60px;
  background: #B9371D;                   /* fallback color */
  background: #B9371D; 
  position: relative; 
  display: block;
  float: left;
  width: 110px;
}

.breadcrumb-triangle li a:after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 20px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 20px solid transparent;
  border-left: 30px solid #B9371D;
  position: absolute;
  top: 50%;
  margin-top: -20px; 
  left: 100%;
  z-index: 2; 
}

.breadcrumb-triangle li a:before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 20px solid transparent;       
  border-bottom: 20px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -20px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
}

.breadcrumb-triangle li:first-child a {
  padding-left: 25px;
  width: 130px;
}
.breadcrumb-triangle li:nth-child(2) a       { background:        #E66B21; }
.breadcrumb-triangle li:nth-child(2) a:after { border-left-color: #E66B21; }
.breadcrumb-triangle li:nth-child(3) a       { background:        #0F7699; }
.breadcrumb-triangle li:nth-child(3) a:after { border-left-color: #0F7699; }
.breadcrumb-triangle li:nth-child(4) a       { background:        #9FA33A; }
.breadcrumb-triangle li:nth-child(4) a:after { border-left-color: #9FA33A; }

.breadcrumb-triangle li.active {
  position: relative;
}

.breadcrumb-triangle li.active a {
  background: #666666;
}
.breadcrumb-triangle li.active a:after {
  border-left: 30px solid #666666;
}
.breadcrumb-triangle li.active:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid #666666;
  position: absolute;
  left: 50%;
  bottom: -3px;
  z-index: 14;
}

.breadcrumb-triangle li.active:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #eeeeee;
  position: absolute;
  left: 50%;
  bottom: -4px;
  z-index: 15;
}

.breadcrumb-triangle li a:hover { background: #666666; }
.breadcrumb-triangle li a:hover:after { border-left-color: #666666 !important; }